agent.sources = src
agent.channels = ch
agent.sinks = sink

# ========= SOURCE =========
agent.sources.src.type = exec
agent.sources.src.command = python3 /opt/flume/generator.py
agent.sources.src.shell = /bin/bash -c
agent.sources.src.restart     = true
agent.sources.src.restartThrottle = 5000
agent.sources.src.batchSize   = 20

# ========= CHANNEL =========
agent.channels.ch.type                = memory
agent.channels.ch.capacity            = 10000
agent.channels.ch.transactionCapacity = 1000

# ========= SINK =========
agent.sinks.sink.type                       = hdfs
agent.sinks.sink.hdfs.path                  = ${HDFS_PATH}
agent.sinks.sink.hdfs.filePrefix            = logs-
agent.sinks.sink.hdfs.fileSuffix            = .log
agent.sinks.sink.hdfs.fileType              = DataStream
agent.sinks.sink.hdfs.writeFormat           = Text
agent.sinks.sink.hdfs.rollInterval          = 60
agent.sinks.sink.hdfs.rollSize              = 10485760
agent.sinks.sink.hdfs.rollCount             = 1000
agent.sinks.sink.hdfs.batchSize             = 100
agent.sinks.sink.hdfs.idleTimeout           = 30
agent.sinks.sink.hdfs.useLocalTimeStamp     = true

# ========= BIND =========
agent.sources.src.channels = ch
agent.sinks.sink.channel = ch
